RewriteEngine On

# Redirect all requests to public folder
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L]
RewriteCond %{HTTP_HOST} ^bikewrapt\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bikewrapt\.com$
RewriteRule ^/?$ "https\:\/\/bikewrapt\.com\/instituteoflivinglonger/public" [R=301,L]